# only the main readme must be included
/app/**/readme.md 

# Doku is private and contains the links to the readmes in the structure
_doku



# config contains private data, the exxample config is part of main readme
/app/config.*

.DS_Store
app/node_modules
app/.env
app/*.log